body{
    background-color: #34495e;
    color: white;
    text-align: center;
}

.clicked {
    color: #7f8c8d;
}

.form{
    display: none ;
}

.showing{
    display: block;
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:-1;
    animation: fadeIn 2s linear;
}

.js-clock, .js-greetings, .js-toDoList ,.js-weather {
    color: white;
}

@keyframes fadeIn{
    from{
        opacity:0
    }to{
         opacity:1
     }
}
